* {
    --bg-main: #2c2f34;
    --shadow-1: #26292d;
    --shadow-2: #222428;
    --shadow-3: #2c2e32;
    --white: #ededed;
    --green: #24d0e0;
}


html {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-main);
    color: var(--white);
}

button {
    cursor: pointer;
    border: none;
    background-color: inherit;
    font: inherit;
    color: inherit;

}

main button {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--bg-main);
    border-radius: .5rem;
    box-shadow: inset 1px 0px 10px 2px var(--shadow-2);
    transform: rotate(45deg);
}

main button:hover {
    box-shadow: 0px 0px 10px 5px var(--shadow-2);
}

main .numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    padding-block: 3rem;
}

main .numbers .number {
    border: 1px solid red;
}

main .choose .container {
    display: flex;
    gap: 1rem;
}

button span {
    font-weight: bold;
    display: inline-block;
    transform: rotate(-45deg);
}

main .numbers button {
    font-weight: bold;
}

main .numbers button span {
    display: inline-block;
    transform: rotate(-45deg);
}

